<!--{% extends "layout.html" %}-->

<!--{% block mainContent %}-->
<!--  <p>This is the about us page</p>-->
<!--{% endblock %}-->
{% extends "layout.html" %}

{% block mainContent %}
<h1>
 About the eventNinja Team

</h1>

 <ul>
     <p>The team is John
    <span style="color:blue;font-weight:bold"> Lively-Bison</span> Alex<span style="color:red;font-weight:bold"> Gleaming-Fish</span>, Jay
    <span style="color:orange;font-weight:bold"> Smoggy-Lion</span>, DEBRA 
    <span style="color:purple;font-weight:bold">Misty-Sheep</span>, and Laura 
    <span style="color:green;font-weight:bold">Prickly-Fox</span>. We are very happy you would like to know more about us!
</p>
<p class="team-member-description"><span id="lively-bison-name">John Cronin</span> AKA: LIVELY-BISON 
    <img src="http://www.picgifs.com/animal-graphics/animal-graphics/bison/animal-graphics-bison-698613.gif" border="0" id= "lively-bison-headshot" />
</p>

<p>John Cronin is a emergency room nurse who also likes to build things</p>

<p class="team-member-description"><span id="smoggy-lion-name">Jay Tansey</span> AKA: Smoggy-Lion
    <img src="http://www.picgifs.com/animal-graphics/animal-graphics/lions/animal-graphics-lions-039466.gif" border="0"  id="smoggy-lion-headshot"/>
</p>

<p>Jay Tansey is a second year MBA student at the Yale School of Management (SOM). This past summer, he interned at PepsiCo, Inc., where he developed the digital communications strategy for Pepsi’s 2016 summer marketing campaign. Prior to SOM, Jay served as a Presidential Appointee in the Obama Administration in Washington, DC.  Most recently, he was the Legislative Policy Advisor & Special Advisor to the Administrator of the U.S. Small Business Administration (SBA), a member of the President’s Cabinet.  Jay is a proud graduate of Bowdoin College, where he earned an A.B. in Government & Legal Studies and Spanish with a minor in Theater.  Originally from Milton, Massachusetts, he is a diehard Boston sports fan and a recently self-proclaimed home brewmaster.  Jay and his wife, Elly, and son, Jack, live in New Haven, CT.</p>

<p class="team-member-description"><span id="misty-sheep-name">Debra Broberg</span> AKA: MISTY-SHEEP
    <img src="http://www.picgifs.com/graphics/s/sheep/graphics-sheep-838043.gif" border="0" id= "misty-sheep-headshot" /></p>
<p>Debra is a MAM student at the Yale School of Management (SOM). Prior to Yale she worked for 3 years at loreal as a business consultant and the past couple years as business development executive for Infosys in the retail, CPG & logistics vertical. She also holds an MBA from the University of Cape Town</p>

<p class="team-member-description"><span id="prickly-fox-name">Laura Melendez</span> AKA: PRICKLY-FOX
    <img src="http://www.picgifs.com/mini-graphics/mini-graphics/foxes/mini-graphics-foxes-538052.gif" border="0" id= "prickly-fox-headshot" /> </p>
<p>Laura Melendez is orginally from Mexico. Has an MBA and is currently getting her MAM from Yale. In her free time she likes to bake as well as go freestykle walking. </p>

<p class="team-member-description"><span id="gleaming-fish-name">Alex Rich</span>AKA: GLEAMING-FISH
    <img src="http://www.picgifs.com/graphics/f/fish/graphics-fish-926489.gif" id= "gleaming-fish-headshot" border="0" /> 
</p>


<p>Alex is a former Air Force pilot. He is the sprint team leader and coder extrodinare. He is also very old. </p>
 </ul>
  

 <head>
  <style>
    h1 {
      color:black;
      font-size: 2.5em;
      font-family: Helvetica;
    }
 body {
      /*text-align: center;*/
      background: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ8VpceP1vAAoG1NAoLO3E-Wtdga1cba3yidk6i4KFq0O8sV6Qv8w");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
    }    
    /*body {*/
    /*  background-color: #585858;*/
    /*  color: #202020;*/
    /*  font-size: 18px;*/
    /*  font-family: Helvetica;*/
    /*  } */
     

  </style>
</head>



    
   
   
  
 

{% endblock %}


