{% extends "layout.html" %}

{% block header %}
  <header>
    <h1>{{ title }} </h1>
  </header>
{% endblock %}

{% block mainContent %}
  <p>
    Welcome to {{ title }}. {{tagline}}
  </p>
  <p> Here is out List of Events</p>
  <div style= "border: 1px solid black">
        {% include "fragments/events-list.html" %}

  </div>
  <img id="logo" src="http://i.imgur.com/8jP54Nj.png" margin left:auto margin right:auto>
   
  <p>
    Check out the <a href="/about">About us</a> page
    as well as the <a href="/events">Events</a> page.
  </p>
  <p>
    <a id="new" href="/events/new">Create a new event</a>
  </p>
{% endblock %}